
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <script type="text/javascript" src="{% static 'polls/js/sorttable.js' %}"></script>
    <link type="text/css" href="{% static 'polls/css/styles.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'polls/images/main.jpg' %}" type="image/x-icon"/>
    {% block add_style %} {% endblock %}
</head>
<body>

    <div class="header">

        <ul id="mainmenu" class="mainmenu">
            {% if request.user.is_authenticated %}
                        <li class="logo"><a href="{% url 'search_car' %}"><img src="{% static 'polls/images/photo.svg' %}" class="logo"/> </a></li>

                    {% else %}
                        <li class="logo"><a href="{% url 'car_all_blank' %}"><img src="{% static 'polls/images/photo.svg' %}" class="logo"/> </a></li>

                    {% endif %}
            <li class="telefon" >
                <p>+7-8352-20-12-09, telegram</p>
            </li>
            {% if request.user.is_authenticated %}
				<li class="last"><a href="{% url 'logout' %}">Выйти из сервиса</a></li>

            {% else %}
				<li class="last"><a href="{% url 'login' %}">Авторизоваться</a></li>
            {% endif %}
        </ul>

    </div>
    <ul class="ref_us">
    {% if request.user.is_authenticated %}
    {% if perms.polls.view_references %}

    <li><a class="reference" href="{% url 'references' %}"><span>Справочники</span></a></li>

    {% endif %}
    {% if perms.auth.view_user %}
    <li><a class="user_list" href="{% url 'user_list' %}"><span>Список пользователей</span></a></li>
    {% endif %}
    {% endif %}
    </ul>
    <div class="elec_book"> <p>Электронная сервисная книжка "Мой Силант" </p></div>

{% block content %}

{% endblock %}


    <div class="footer">
            <ul>
                <li>
                     +7-8352-20-12-09, telegram
                </li>
                <li>
                     Мой Силант 2023
                </li>
            </ul>
    </div>
</body>

</html>