{% extends 'polls/base.html' %}

{% block content %}
<h1>{{title}}</h1>

<form method="post" class="form">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

    <div class="loginform">
    {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    </div>

   <div class="login_submit"><button  type="submit">Войти</button></div>

</form>

{% endblock %}