{% extends 'flatpages/default.html' %}

{% block title %}
Author
{% endblock title %}

{% block content %}

    <h1>Пользователи</h1>
    <table style="margin-left: auto; margin-right: auto;">

           <tr>
               <td><h4 style="padding-left: 20px;">Имя пользователя</h4></td>
               <td><h4 style="padding-left: 20px;">Фамилия</h4></td>
               <td><h4 style="padding-left: 20px;">Имя</h4></td>
               <td><h4 style="padding-left: 20px;">Эл.почта</h4></td>
           </tr>
    {% for user in author %}
        <tr>

            <td>
                <span style="color: #000000;"><a style="color: #000000;" href="{% url 'user' user.id %}">{{ user.username }}</a></span>
                <span style="color: #000000;"><a style="color: #000000;" href="{% url 'user_update' user.id %}"><u> Edit </u></a></span>
            </td>
            <td>
                {{ user.last_name }}
            </td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.email }}</td>
        </tr>
    {% endfor %}



{% endblock content %}