{% extends 'polls/base.html' %}

{% block content %}
<h3 class="title_create_update">Добавить {{ name }}</h3>

<div class="create-update">
<form method="POST">
    {% csrf_token %}
    {{ form.as_ul }}

    <ul>
       <li> <input class="input_create" type="submit" value="Применить изменения"></li>
       <li> <a class="url_add_car" href="{% url 'model_technics' %}"><span>отменить</span></a></li>
        {% if perms.polls.delete_modeltechnics %}
    {% if update %}
        <li><a class="url_add_car" href="{% url 'model_technics_delete' object.id %}">Удалить {{ name }}</a></li>
    {% endif %}
    {% endif %}
    </ul>

</form>
</div>
{% endblock content %}