{% extends 'index.html' %}


{% block title %}
    Ad
{% endblock title %}


{% block content %}


    <h2 style="text-align: left; padding-left: 90px;">{{ one_ad.title }}</h2>
    <p style="text-align: left; padding-left: 90px;">Опубликовано: {{ one_ad.dateCreation|date:'d M Y' }}</p>
    <hr>
    <p style="text-align: justify;">{{ one_ad.content|safe }}</p>
{% if user.is_authenticated %}
<form method="POST">

    {% csrf_token %}
    {{ form.text }}<br>
    <input type="submit" value="Добавить комментарий">
</form>
{% endif %}

{% endblock content %}