{% extends 'polls/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
    <div class="name_table"> Пользователь {{user.first_name}} </div>
{% endif %}
<p class="info_p"> Информация о проведенных ТО Вашей техники </p>

    <div>
        <div class="search_style">
        <div class="search_car">
            <form method="GET">
                <ul class="form_search">

                <ul class="li_search_maintenance_1">
                    <li>{{ filter.form.type_maintenance.label }}</li>
                    <li>{{ filter.form.type_maintenance }}</li>

                </ul>
                <ul class="li_search_maintenance_2">
                    <li>{{ filter.form.car.label }} </li>
                    <li>{{ filter.form.car }} </li>
                </ul>
                <ul class="li_search_maintenance_3">
                    <li>{{ filter.form.service_company.label }}</li>
                    <li>{{ filter.form.service_company }}
                 </ul>

                <input class="input_search" type="submit" value="Найти" >
                    {% if perms.polls.add_maintenance %}
                        <a class="url_add_car" href="{% url 'maintenance_create' %}"><span>Добавить ТО</span></a>
                    {% endif %}
                </ul>
            </form>
        </div>
        </div>
        <h4>таблица с данными (выдача результата)</h4>
        <ul class="tab_list">
            <li ><a  href="{% url 'search_car' %}">Общая информация</a> </li>
            <li><a class="car_all" href="{% url 'maintenance' %}">Техническое обслуживание</a></li>
            <li><a href="{% url 'claim' %}">Рекламации</a></li>
        </ul>
            {% if maintenance %}
                   <table class="table_car sortable" id="table_id">

                       <tr class="table_heading">
                           <td>Зав. № машины</td>
                           <td>Вид ТО</td>
                           <td>Дата проведения ТО</td>
                           <td>Наработка,м/час</td>
                           <td>№ заказ-наряда</td>
                           <td>Дата заказ-наряда</td>
                           <td>Организация, проводившая ТО</td>
                       </tr>

                       {% for mainten in maintenance %}
                       {% if user.username == mainten.car.client.title.username or user.username == mainten.service_company.title.username or request.user.groups.all.0.name == 'Manager' %}
                       <tr class="table_list">
                           <td><a  href="{% url 'maintenance_detail' mainten.id %}">{{ mainten.car.factory_num_car }}</a></td>
                           <td><a  href="{% url 'maintenance_detail' mainten.id %}">{{ mainten.type_maintenance }}</a> </td>
                           <td><a  href="{% url 'maintenance_detail' mainten.id %}">{{ mainten.data_maintenance }}</a></td>
                           <td><a  href="{% url 'maintenance_detail' mainten.id %}">{{ mainten.operating_time }}</a></td>
                           <td><a  href="{% url 'maintenance_detail' mainten.id %}">{{ mainten.num_order }}</a></td>
                           <td><a  href="{% url 'maintenance_detail' mainten.id %}">{{ mainten.data_order }}</a></td>
                           <td><a  href="{% url 'maintenance_detail' mainten.id %}">{{ mainten.service_company.name }}</a></td>
                       </tr>
                       {% endif %}
                       {% endfor %}

                   </table>


   {% else %}
       <h2>ТО не проводилось</h2>
   {% endif %}
</div>
<div class="padding_style">
{% if is_paginated %}
    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
{% endif %}
</div>
{% endblock content %}