{% extends 'polls/base.html' %}
{% block content %}

{% if request.user.is_authenticated %}
    <div class="name_table"> Пользователь {{user.first_name}} </div>
{% endif %}

<div class="name_table"> Проверьте комплектацию и технические характеристики техники Силант</div>

<p class="info_p"> Информация о комплектации и технических характеристиках Вашей техники </p>
<div>
    <div class="search_style">
        <div class="search_car">
            <form method="GET">
                <ul class="form_search">

                <ul class="li_search_car">
                    <li>{{ filter.form.model_technics.label }}</li>
                    <li>{{ filter.form.model_technics }}</li>

                </ul>
                <ul class="li_search_car">
                    <li>{{ filter.form.model_motor.label }} </li>
                    <li>{{ filter.form.model_motor }} </li>
                </ul>
                <ul class="li_search_car">
                    <li>{{ filter.form.model_transmissions.label }}</li>
                    <li>{{ filter.form.model_transmissions }}
                 </ul>
                <ul class="li_search_car">
                    <li>{{ filter.form.model_driving_bridge.label }}</li>
                    <li>{{ filter.form.model_driving_bridge }}</li>
                 </ul>
                 <ul class="li_search_car">
                     <li>{{ filter.form.model_controlled_bridge.label }}</li>
                     <li>{{ filter.form.model_controlled_bridge }}</li>
                 </ul>
                  <input class="input_search" type="submit" value="Найти" >
                    {% if perms.polls.add_car %}
                         <a class="url_add_car" href="{% url 'car_create' %}"><span>Добавить машину</span></a>
                    {% endif %}
                </ul>
            </form>

        </div>
     </div>
            {% if request.user.is_authenticated %}
             <h4>таблица с данными (выдача результата)</h4>
                <ul class="tab_list">
                    <li ><a class="car_all" href="{% url 'search_car' %}">Общая информация</a> </li>
                    <li><a  href="{% url 'maintenance' %}">Техническое обслуживание</a></li>
                    <li><a href="{% url 'claim' %}">Рекламации</a></li>
                </ul>
            {% if cars %}
                   <table class="table_car sortable" id="table_id">

                       <tr class="table_heading">

                           <td>Зав. № машины</td>
                           <td>Модель техники</td>
                           <td>Модель двигателя</td>
                           <td>Зав. № двигателя</td>
                           <td>Модель трансмиссии</td>
                           <td>Зав. № трансмиссии</td>
                           <td>Модель ведущего моста</td>
                           <td>Зав. № ведущего моста</td>
                           <td>Модель управляемого моста</td>
                           <td>Зав. № управляемого моста</td>
                           <td>Договор поставки №, дата</td>
                           <td>Дата отгрузки с завода</td>
                           <td>Грузополучатель (конечный потребитель)</td>
                           <td>Адрес поставки (эксплуатации)</td>
                           <td>Комплектация (доп. опции)</td>
                           <td>Клиент</td>
                           <td>Сервисная компания</td>
                       </tr>

                       {% for car in object_list %}
                            {% if user.username == car.client.title.username or user.username == car.service_company.title.username or request.user.groups.all.0.name == 'Manager' %}
                       <tr  class="table_list">

                           <td><a  href="{% url 'car_detail' car.id %}">{{ car.factory_num_car }}</a></td>
                           <td><a  href="{% url 'car_detail' car.id %}">{{ car.model_technics }}</a> </td>
                           <td><a  href="{% url 'car_detail' car.id %}">{{ car.model_motor }}</a></td>
                           <td><a  href="{% url 'car_detail' car.id %}">{{ car.factory_num_motor }}</a></td>
                           <td><a  href="{% url 'car_detail' car.id %}">{{ car.model_transmissions }}</a></td>
                           <td><a  href="{% url 'car_detail' car.id %}">{{ car.factory_num_transmissions }}</a></td>
                           <td><a  href="{% url 'car_detail' car.id %}">{{ car.model_driving_bridge }}</a></td>
                           <td><a  href="{% url 'car_detail' car.id %}">{{ car.factory_num_driving_bridge }}</a></td>
                           <td><a  href="{% url 'car_detail' car.id %}">{{ car.model_controlled_bridge }}</a></td>
                           <td><a  href="{% url 'car_detail' car.id %}">{{ car.factory_num_controlled_bridge }}</a></td>
                           <td><a href="{% url 'car_detail' car.id %}">{{ car.contract_num_data }}</a></td>
                           <td><a href="{% url 'car_detail' car.id %}">{{ car.ship_date }}</a></td>
                           <td><a href="{% url 'car_detail' car.id %}">{{ car.consignee }}</a></td>
                           <td><a href="{% url 'car_detail' car.id %}">{{ car.delivery_address }}</a></td>
                           <td><a href="{% url 'car_detail' car.id %}">{{ car.equipment }}</a></td>
                           <td><a href="{% url 'car_detail' car.id %}">{{ car.client.name }}</a></td>
                           <td><a href="{% url 'car_detail' car.id %}">{{ car.service_company.name }}</a></td>

                       </tr>
                            {% endif %}
                       {% endfor %}

                   </table>


   {% else %}
       <h2>Машин нет!</h2>
   {% endif %}
{% endif %}
</div>


{% endblock content %}