<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет Post -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим новость, идентификатор которой был передан в url -->
{% block content %}

{% if category %}
        {% load account %}

        <h5>
        {% for cat in category %}
            <div>
                <a href="{% url 'category' cat.category %}">{{ cat.category__category }}</a>
                {% if user.is_authenticated %}
                    {% if cat.category not in subscribed %}
                        | <button><a href="{% url 'subscribe_category' cat.category %}">Подписаться</a></button>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
        </h5>
    {% endif %}


    <h2 style="text-align: left; padding-left: 90px;">{{ one_news.title|censor }}</h2>
    <p style="text-align: left; padding-left: 90px;">Опубликовано: {{ one_news.dateCreation|date:'d M Y' }}</p>
    <hr>
    <p style="text-align: justify;">{{ one_news.text|censor }}</p>
{% endblock content %}